Code/SOAP/jaxws_part2/src/main/resources/bookservice.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://MyBookService/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://MyBookService/"
             name="MyBookService.BookService">
    <types>
        <xs:schema xmlns:tns="http://MyBookService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://MyBookService/">
            <xs:element name="BookExistsEx" type="tns:BookExistsEx"/>
            <xs:element name="BookNotFoundEx" type="tns:BookNotFoundEx"/>
            <xs:element name="addBook" type="tns:addBook"/>
            <xs:element name="addBookResponse" type="tns:addBookResponse"/>
            <xs:element name="deleteBook" type="tns:deleteBook"/>
            <xs:element name="deleteBookResponse" type="tns:deleteBookResponse"/>
            <xs:element name="getAllBooks" type="tns:getAllBooks"/>
            <xs:element name="getAllBooksResponse" type="tns:getAllBooksResponse"/>
            <xs:element name="getBook" type="tns:getBook"/>
            <xs:element name="getBookResponse" type="tns:getBookResponse"/>
            <xs:complexType name="addBook">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg3" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addBookResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BookExistsEx">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getBook">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getBookResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:book" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="book">
                <xs:sequence>
                    <xs:element name="author" type="xs:string" minOccurs="0"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BookNotFoundEx">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteBook">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteBookResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllBooks">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllBooksResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="addBook">
        <part name="parameters" element="tns:addBook"/>
    </message>
    <message name="addBookResponse">
        <part name="parameters" element="tns:addBookResponse"/>
    </message>
    <message name="BookExistsEx">
        <part name="fault" element="tns:BookExistsEx"/>
    </message>
    <message name="deleteBook">
        <part name="parameters" element="tns:deleteBook"/>
    </message>
    <message name="deleteBookResponse">
        <part name="parameters" element="tns:deleteBookResponse"/>
    </message>
    <message name="BookNotFoundEx">
        <part name="fault" element="tns:BookNotFoundEx"/>
    </message>
    <message name="getBook">
        <part name="parameters" element="tns:getBook"/>
    </message>
    <message name="getBookResponse">
        <part name="parameters" element="tns:getBookResponse"/>
    </message>
    <message name="getAllBooks">
        <part name="parameters" element="tns:getAllBooks"/>
    </message>
    <message name="getAllBooksResponse">
        <part name="parameters" element="tns:getAllBooksResponse"/>
    </message>
    <portType name="BookService">
        <operation name="addBook">
            <input message="tns:addBook"/>
            <output message="tns:addBookResponse"/>
            <fault message="tns:BookExistsEx" name="BookExistsEx" />
        </operation>
        <operation name="deleteBook">
            <input  message="tns:deleteBook"/>
            <output message="tns:deleteBookResponse"/>
            <fault message="tns:BookNotFoundEx" name="BookNotFoundEx"/>
        </operation>
        <operation name="getBook">
            <input  message="tns:getBook"/>
            <output  message="tns:getBookResponse"/>
            <fault message="tns:BookNotFoundEx" name="BookNotFoundEx" />
        </operation>
        <operation name="getAllBooks">
            <input message="tns:getAllBooks"/>
            <output message="tns:getAllBooksResponse"/>
        </operation>
    </portType>
    <binding name="BookServiceImplPortBinding" type="tns:BookService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BookExistsEx">
                <soap:fault name="BookExistsEx" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BookNotFoundEx">
                <soap:fault name="BookNotFoundEx" use="literal"/>
            </fault>
        </operation>
        <operation name="getBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BookNotFoundEx">
                <soap:fault name="BookNotFoundEx" use="literal"/>
            </fault>
        </operation>
        <operation name="getAllBooks">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MyBookService.BookService">
        <port name="BookServiceImplPort" binding="tns:BookServiceImplPortBinding">
            <soap:address location="http://localhost:8081/bookservice"/>
        </port>
    </service>
</definitions>