Code/WCF/WcfApp2/WcfClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfApp2/MyCalculator/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApp2" />
  <xs:element name="addCNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApp2" minOccurs="0" name="n1" nillable="true" type="q1:ComplexNum" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfApp2" minOccurs="0" name="n2" nillable="true" type="q2:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfApp2" minOccurs="0" name="addCNumResult" nillable="true" type="q3:ComplexNum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HMultiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HMultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HMultiplyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>